<!DOCTYPE html>
<html lang="en" ng-app="vsoTasksApp" ng-controller="VsoTasksAppController">
<head>
    <meta charset="utf-8" />
    <title>Book My Movie</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <h1>Book My Movie</h1>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
