<!DOCTYPE html>
<html lang="en" ng-app="vsoTasksApp" ng-controller="VsoTasksAppController">
<head>
    <meta charset="utf-8" />
    <title>Book My Movie</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/angular.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-touch.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-animate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/csv.js"></script>
    <script src="~/Scripts/pdfmake.js"></script>
    <script src="~/Scripts/vfs_fonts.js"></script>
    <script src="~/Scripts/ui-grid.js" type="text/javascript"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <h1>Book My Movie</h1>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
